@model Decouverte.Models.Client
<h1>Créer un nouveau client</h1>
<form asp-action="Add" method="post">
    <div>
        <div class="form-group">
            <label asp-for="Name">Nom : </label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Address">Adresse : </label>
            <input class="form-control" asp-for="Address" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Numéro de téléphone : </label>
            <input class="form-control" type="tel" asp-for="PhoneNumber" />
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Créer" />
</form>

