@model Decouverte.Models.Client
<h1>Modification du Client : @Model.ClientId | @Model.Name</h1>
<form asp-action="Edit" asp-route-id="@Model.ClientId" method="post">
        <div class="form-group">
            <label asp-for="Name">Nom : </label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Address">Adresse : </label>
            <input class="form-control" asp-for="Address" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Numéro de téléphone : </label>
            <input class="form-control" type="tel" asp-for="PhoneNumber" />
        </div>

    <input type="submit" value="valider" />
</form>