@using System.Collections.Generic;
@*@model List<Decouverte.Controllers.Client>*@
@model List<Decouverte.Models.Client>
<h1>Liste des clients</h1>
<a class="btn btn-primary" asp-action="Add" asp-controller="Client">Nouveau client</a>
<p>Il y a @Model.Count client(s).</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Numéro de téléphone</th>
            <th>Adresse</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Client in Model) {
            <tr>
                <td>@Client.Name</td>
                <td>@Client.PhoneNumber</td>
                <td>@Client.Address</td>
                @*<td><a href="/Client/Edit/@Client.Id">Edit</a></td>*@
                <td>
                    <a asp-action="Edit" asp-controller="Client" asp-route-id="@Client.ClientId"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>