@model Decouverte.Models.User
<h1>Créer un nouvel utilisateur</h1>
<div id="errorDiv" class="alert alert-danger" role="alert" style="display:none">
</div>
<form asp-action="Add" onsubmit="return validateForm()" method="post">
    <div>
        <div class="form-group">
            <label asp-for="FirstName">Prénom : </label>
            <input id="FirstNameInput" class="form-control" asp-for="FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="LastName">Nom : </label>
            <input id="LastNameInput" class="form-control" asp-for="LastName" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Adresse e-mail : </label>
            <input id="EmailInput" class="form-control" type="email" asp-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Numéro de téléphone : </label>
            <input id="PhoneNumberInput" class="form-control" type="tel" asp-for="PhoneNumber" />
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Créer" />
</form>

<script>
    function validateForm() {
        var FirstNameInput = $('#FirstNameInput').val();
        var LastNameInput = $('#LastNameInput').val();
        var EmailInput = $('#EmailInput').val();
        var PhoneNumberInput = $('#PhoneNumberInput').val();
        var errorMessage = '';
        if (FirstNameInput == '') {
            errorMessage += "Le prénom doit être renseigné !<br>"
        }
        if (LastNameInput == '') {
            errorMessage += "Le nom doit être renseigné !<br>"
        }
        if (EmailInput == '') {
            errorMessage += "L'email doit être renseigné !<br>"
        }
        if (PhoneNumberInput == '') {
            errorMessage += "Le numéro de téléphone doit être renseigné !<br>"
        }
        $('#errorDiv').html(errorMessage);
        $('#errorDiv').show();
        if (errorMessage != '')
            return false;
    }
</script>