@model Decouverte.Models.User
<h1>Modification du ticket : @Model.UserId | @Model.FirstName</h1>
<form asp-action="Edit" asp-route-id="@Model.UserId" method="post">
    <div>
        <div class="form-group">
            <label asp-for="FirstName">Prénom : </label>
            <input class="form-control" asp-for="FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="LastName">Nom : </label>
            <input class="form-control" asp-for="LastName" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Adresse e-mail : </label>
            <input class="form-control" type="email" asp-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Numéro de téléphone : </label>
            <input class="form-control" type="tel" asp-for="PhoneNumber" />
        </div>
    </div>

    <input type="submit" value="valider" />

    @Html.ValidationMessageFor(m => m.FirstName)
    <span asp-validation-for="FirstName"></span>
</form>