@using System.Collections.Generic;
@*@model List<Decouverte.Controllers.User>*@
@model List<Decouverte.Models.User>
<h1>Liste des utilisateurs</h1>
<a class="btn btn-primary" asp-action="Add" asp-controller="User">Nouvel utilisateur</a>
<p>Il y a @Model.Count utilisateurs(s).</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-mail</th>
            <th>Numéro de téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model) {
            <tr>
                <td>@user.LastName</td>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                @*<td><a href="/User/Edit/@user.Id">Edit</a></td>*@
                <td>
                    <a asp-action="Read" asp-controller="User" asp-route-id="@user.UserId"><i class="fas fa-eye"></i></a>
                    <a asp-action="Edit" asp-controller="User" asp-route-id="@user.UserId"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>