@model Decouverte.Models.User
<h1>Utilisateur n°@Model.UserId</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Label</th>
            <th>Valeur</th>
        </thead>
        <tbody>
            <tr>
                <td>ID User</td>
                <td>@Model.UserId</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Numéro de téléphone</td>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
</div>