@model Decouverte.Models.Action
<h1>Créer une nouvelle action</h1>
<div id="errorDiv" class="alert alert-danger" role="alert" style="display:none">
</div>
<form asp-action="Add" onsubmit="return validateForm()" method="post">
    <div class="form-group">
        <label asp-for="Title">Title : </label>
        <input id="titleInput" class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description : </label>
        <input id="descriptionInput" class="form-control" asp-for="Description" />
    </div>
    <div class="form-group">
        <label asp-for="UserId">Utilisateur : </label>
        <select id="userSelect" class="form-control" asp-for="UserId">
            <option value="0">----------</option>
            @foreach(var user in @ViewData["UserList"] as IList<User>) {
                <option value="@user.UserId">@user.LastName @user.FirstName</option>
            }
        </select>
    </div>
    <input type="hidden" class="form-control" asp-for="TicketId" value='@ViewData["TicketId"]'/>
    <input class="btn btn-primary" type="submit" value="Valider" />
</form>
<script>
    function validateForm() {
        var userSelect = $('#userSelect').val();
        var titleInput = $('#titleInput').val();
        var descriptionInput = $('#descriptionInput').val();
        var errorMessage = '';
        if (titleInput == '') {
            errorMessage += "Le titre doit être renseigné !<br>"
        }
        if (descriptionInput == '') {
            errorMessage += "La description doit être renseigné !<br>"
        }
        if (userSelect == 0) {
            errorMessage += "L'utilisateur doit être renseigné !<br>"
        }
        $('#errorDiv').html(errorMessage);
        $('#errorDiv').show();
        if (errorMessage != '')
            return false;
    }
</script>