@using System.Collections.Generic;
@*@model List<Decouverte.Controllers.Action>*@
@model List<Decouverte.Models.Action>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Titre</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var action in Model) {
            <tr>
                <td>@action.ActionDate</td>
                <td>@action.User</td>
                <td>@action.Title</td>
                <td>@action.Description</td>
            </tr>
        }
    </tbody>
</table>