@model Decouverte.Models.Ticket
<h1>Créer un nouveau ticket</h1>
<div id="errorDiv" class="alert alert-danger" role="alert" style="display:none">
</div>
<form asp-action="Add" onsubmit="return validateForm()" method="post">
    <div class="form-group">
        <label asp-for="Title">Titre : </label>
        <input id="titleInput" class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Object">Objet : </label>
        <textarea id="objectInput" class="form-control" asp-for="Object"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ClientId">Client : </label>
        <select id="clientSelect" class="form-control" asp-for="ClientId">
            <option value="0">----------</option>
            @foreach(var client in @ViewData["ClientList"] as IList<Client>) {
                <option value="@client.ClientId">@client.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CreatedBy">Utilisateur : </label>
        <select id="userSelect" class="form-control" asp-for="CreatedBy">
            <option value="0">----------</option>
            @foreach(var user in @ViewData["UserList"] as IList<User>) {
                <option value="@user.UserId">@user.LastName @user.FirstName</option>
            }
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="valider" />
</form>
<script>
    function validateForm() {
        var clientSelect = $('#clientSelect').val();
        var userSelect = $('#userSelect').val();
        var titleInput = $('#titleInput').val();
        var objectInput = $('#objectInput').val();
        var errorMessage = '';
        if (titleInput == '') {
            errorMessage += "Le titre doit être renseigné !<br>"
        }
        if (objectInput == '') {
            errorMessage += "L'objet doit être renseigné !<br>"
        }
        if (clientSelect == 0) {
            errorMessage += "Le client doit être renseigné !<br>"
        }
        if (userSelect == 0) {
            errorMessage += "L'utilisateur doit être renseigné !<br>"
        }
        $('#errorDiv').html(errorMessage);
        $('#errorDiv').show();
        if (errorMessage != '')
            return false;
    }
</script>