@model Decouverte.Models.Ticket
<h1>Modification du ticket : @Model.TicketId | @Model.Title</h1>
<form asp-action="Edit" asp-route-id="@Model.TicketId" method="post">
    <div>
        <label asp-for="Title">Nom : </label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Object">Object : </label>
        <textarea asp-for="Object"></textarea>
    </div>

    <input type="submit" value="valider" />

    @Html.ValidationMessageFor(m => m.Title)
    <span asp-validation-for="Title"></span>
</form>