@using System.Collections.Generic;
@*@model List<Decouverte.Controllers.Ticket>*@
@model List<Decouverte.Models.Ticket>
<h1>Liste des tickets</h1>
<a class="btn btn-primary" asp-action="Add" asp-controller="Tickets">Nouveau ticket</a>
<p>Il y a @Model.Count ticket(s).</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Titre</th>
            <th>Date ouv</th>
            <th>Date ferm</th>
            <th>Objet</th>
            <th>Client</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ticket in Model) {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.DateCreated</td>
                <td>@ticket.DateClosed</td>
                <td>@ticket.Object</td>
                <td>@ticket.Client</td>
                @*<td><a href="/Tickets/Edit/@ticket.Id">Edit</a></td>*@
                <td>
                    <a asp-action="Read" asp-controller="Tickets" asp-route-id="@ticket.TicketId"><i class="fas fa-eye"></i></a>
                    <a asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.TicketId"><i class="fas fa-edit"></i></a>
                    <a class="OpenModal" data-id="@ticket.TicketId"><i data-toggle="modal" data-target="#closeModal" class="fas fa-times"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="closeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fermer le ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select id="userSelect" class="form-control">
            <option value="0" selected>----------</option>
            @foreach(var user in @ViewData["UserList"] as IList<User>) {
                <option value="@user.UserId">@user.LastName @user.FirstName</option>
            }
        </select>
        <input id="TicketId" type="hidden">
      </div>
      <div class="modal-footer">
        <a id="saveButton" class="btn btn-primary" asp-action="Close" asp-controller="Tickets">Fermer le ticket</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(".OpenModal").click(function () {
        var ticketId = $(this).data('id');
        $("#TicketId").val(ticketId);
    });
    $("#saveButton").click(function() {
        var url = "/Tickets/Close/" + $("#TicketId").val() + "?userid=" + $("#userSelect").val();
        $(this).attr("href", url);
    })
</script>