@model Decouverte.Models.Ticket
<h1>Ticket n°@Model.TicketId</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Label</th>
            <th>Valeur</th>
        </thead>
        <tbody>
            <tr>
                <td>ID Ticket</td>
                <td>@Model.TicketId</td>
            </tr>
            <tr>
                <td>Titre</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Objet</td>
                <td>@Model.Object</td>
            </tr>
            <tr>
                <td>Client </td>
                <td>@Model.Client</td>
            </tr>
            <tr>
                <td>Date de création</td>
                <td>@Model.DateCreated</td>
            </tr>
            <tr>
                <td>Date de fermeture </td>
                <td>@Model.DateClosed</td>
            </tr>
            <tr>
                <td>Créé par</td>
                <td>@Model.UserWhoCreated</td>
            </tr>
            <tr>
                <td>Fermé par</td>
                <td>@Model.UserWhoClosed</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary"  asp-action="Add" asp-controller="Action" asp-route-id="@Model.TicketId">Ajouter action</a>
    @{
        Html.RenderPartial("../Action/Index", @ViewData["ActionList"]);
    }
</div>